body {
  background-color: blueviolet;
}

h1 {
  text-align: center;
}

#jm {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 80vh;
  height: 50vh;
  border: 5px;
  border-style: solid;
}
#pic {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
img {
  width: 200px;
  height: 200px;
}
p {
  text-align: center;
}
